Package: adw-gtk3
Version: 5.3.0-0pop1
Architecture: amd64
Maintainer: Michael Murphy <michael@mmurphy.dev>
Installed-Size: 2129
Section: utils
Priority: optional
Homepage: https://github.com/pop-os/adw-gtk3
Description: libadwaita theme ported to GTK3
 libadwaita theme ported to GTK3
